<% layout("/layouts/boilerplate") %>
<div class="row mt-3">

    <div class="alert alert-danger col-6 offset-3" role="alert">
       <h4 class="alert-heading">
       <b> Oops! Something Went Wrong </b>
       <p>We're sorry, but an unexpected error has occurred. Our team has been notified and is working on a fix.</p>
       <p>
        In the meantime, you can try the following:</p>
        <ul>
            <li>Refresh the page.</li>
            <li>Return to the homepage.</li>
            <li>Contact our support team for further assistance.</li>
        </ul>
        <b>Thank you for your patience!</b>
       </h4>
     
      </div>
</div>





